.stDownloadButton, div.stButton {text-align:center}
.stDownloadButton button, div.stButton > button:first-child {
    background-color: #5b6f76;
    color:#000000;
}

.stDownloadButton button:hover, div.stButton > button:hover {
    background-color: #b1cdd6;
    color:#000000;
}
[data-testid=column]:nth-of-type(1) [data-testid=stVerticalBlock]{
  gap: 0.25rem;
}
ul {
  padding: 1px 100px 1px 100px; 
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px; 
}
/* .css-18e3th9 {
padding-top: 0rem;
padding-bottom: 10rem;
padding-left: 5rem;
padding-right: 5rem;
}
.css-1d391kg {
 padding-top: 3.5rem;
 padding-right: 1rem;
  padding-bottom: 3.5rem;
padding-left: 1rem;  
} */
#MainMenu {visibility:hidden}
header {visibility: hidden}
footer {visibility: hidden}
.css-15zrgzn {display: none}
.css-eczf16 {display: none}
.css-jn99sy {display: none}
button[title="View fullscreen"]{visibility: hidden;}
body {
    background-color: rgb(255, 253, 253);
  }
  h1 {
    color: rgb(245, 241, 241);
  }
p{
    color:rgb(247, 249, 249);
}
ul[class="css-wjbhl0 e1fqkh3o9"]{
    position: relative;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .css-17lntkn {
    font-weight: bold;
    font-size: 20px;
    color: yellow;
  }
  
  .css-pkbazv {
    font-weight: bold;
    font-size: 20px;
  }