body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(181, 81, 38);
  }
p{
    color:black;
}
ul[class="css-wjbhl0 e1fqkh3o9"]{
    position: relative;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .css-17lntkn {
    font-weight: bold;
    font-size: 20px;
    color: yellow;
  }
  
  .css-pkbazv {
    font-weight: bold;
    font-size: 20px;
  }